<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"
      integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA=="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div ng-App="myApp" ng-controller="myController">
      <div>
        <small ng-Show="currentDate">Refreshed on {{currentDate}} at {{currentTime}}</small>
      </div>
      <div ng-repeat="l in lines">
        <table>
          <tr>
            <td id={{l.id}}>{{l.name}}</td>
            <td>{{l.lineStatuses[0].statusSeverityDescription}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <button ng-click="refresh()">Refresh</button>
    </div>
    <script src="scripts.js"></script>
  </body>
</html>
